PORT=4000

DATABASE_URL="postgresql://clientflow:YOUR_PASSWORD@localhost:5432/clientflow?schema=public"
JWT_ACCESS_SECRET=your_access_token_secret
JWT_REFRESH_SECRET=your_refresh_token_secret

JWT_ACCESS_EXPIRES_SECONDS=900
JWT_REFRESH_EXPIRES_SECONDS=604800



